<h1 class="text-center text-3xl font-bold mb-6 form-h1">Create a New Roastery</h1>

<div class="container">
  <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <%= render 'roasteries/form', roastery: @roastery %>
  </div>
</div>
