// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;


$gray: #d3d3d3;
$light-gray: #F4F4F4;

// primary colours
$green: #656D4A;
$light-green: #A4AC86;
$dark-green: #414833;
$brown: #7F4F24;
$light-brown: #936639;
$dark-green-005: rgba(65, 72, 51, 0.05);

// backup colours
$dark-brown: #582F0E;
$brown-beige: #A68A64;
$beige: #B6AD90;
$darkest-green: #333D29;
$lightest-green: #C2C5AA
