<div class="container mt-5">
  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <img src="https://via.placeholder.com/150" alt="User Avatar" class="rounded-circle mb-3">
          <h4><%= @user.user_name %></h4>
          <p><%= @user.email %></p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5>Your Content</h5>
        </div>
        <div class="card-body">

          <h6>Favorites</h6>

          <h6 class="mt-4">Your Beans</h6>


          <h6 class="mt-4">Your Places</h6>

        </div>
      </div>
    </div>
  </div>
</div>
