<footer class="footer">
  <div class="footer-content">
    <p>&copy; MY COFFEE LAB </p>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/privacy-policy">Privacy Policy</a></li>
    </ul>
    <div class="social-media">
      <a href="https://facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
    </div>
  </div>
</footer>
