
<h1>Our Coffee Beans</h1>

<ul>
  <% @beans.each do |bean| %>
    <li>
      <strong><%= bean.name %></strong><br>
      <%
=begin%>
 <em><%= bean.origin %></em><br>
<%
=end%>
      <%= bean.description %>
      <img src="<%= bean.image%>">
    </li>
  <% end %>
</ul>
