.banner {
  background-color: $green;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .banner-title {
      margin-bottom: 5px;
  }

  .banner-text {
      max-width: 80%;
      margin: 0 auto;
  }
}
