
.btn-primary {
  background-color: $brown;
  color: white;
  border: none;

  &:hover {
    background-color: $dark-brown;
  }
}

.btn-secondary {
  background-color: $dark-green;
  color: white;
  border: none;

  &:hover {
    background-color: $darkest-green;
  }
}

.btn-tertiary {
  background-color: white;
  color: $dark-green;
  border: 1px solid $dark-green;
  white-space: nowrap;
  font-size: clamp(0.8rem, 1rem, 1.2rem);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  min-width: 120px;
  max-width: 100%;

  &:hover {
    background-color: $dark-green-005;
    border: 1px solid $dark-green;
    color: $dark-green;
  }

}
